.col-md-6.col-xs-12.col-offset-3
  .panel.panel-default
    .panel-heading
      %h4 new book
    .panel-body
      = form_for @book ,url:books_new_path do |f|
        .form-group
          = f.label :name
          = f.text_field :name
        .form-group
          = f.label :author
          = f.text_field :author
        .form-group
          = f.label :published_at
          = f.text_field :published_at 
        .actions
          = f.submit