	 <main>
	 	<div class="section img-responsive" id="section1">
	 		Share My Book Animation
	 	</div>
	 	<div class="section img-responsive" id="section2">
	 		<%= link_to 'create book' , new_book_path , class:"btn btn-info btn-xs"%>
	 		<div class="row">
	 			<%if @books.present?%>
	 			<%@books.each do |book| %>
	 			<div class="col-md-3 col-xs-12">
	 				<div class="card", style="max-width:446px;">
	 					<%= image_tag(book.cover.image.url,class:"card-img-top img-fluid img-responsive") if book.cover.present? %>
	 					<div class="card-block">
	 						<h4 class="card-title"><%= book.name %></h4>
	 						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	 						<h5>Author</h5><%= book.author%> <br>
	 						<h5>Uploaded at </h5>

	 						<%= book.published_at%><br>
	 					</div>
	 				</div>
	 				<%= rating_for book, "ratings", disable_after_rate: true, enable_half: true, half_show: true %>
	 				<%= link_to 'show', book_path(book)%>
	 			</div>
	 			<%end%>
	 			<%end%>	 
	 		</div>
	 	</div>   
	 	<div class="section img-responsive" id="section3">
	 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 	</div>   
	 	<div class="section img-responsive" id="section4">
	 		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 	</div>
	 </main>





	 <script>
	 	$(document).ready(function(){
	 		var section1_OffsetTop = $('#section1').offset().top-60;
	 		var section2_OffsetTop = $('#section2').offset().top-60;
	 		var section3_OffsetTop = $('#section3').offset().top-60;
	 		var section4_OffsetTop = $('#section4').offset().top-60;

	 		function changeTab(hash){
	 			hash = hash.substring(1);
	 			$('ol.carousel-indicators>li a[href$='+hash+']').parent().siblings().removeClass('active');
	 			$('ol.carousel-indicators>li a[href$='+hash+']').parent().addClass('active');
	 		}

	 		$(window).scroll(function(event) {
	 			/* Act on the event */
	 			var $currentTab = '';
	 			var wPosition  = $(window).scrollTop();
	 			if (wPosition > section1_OffsetTop && wPosition <section2_OffsetTop){
	 				$currentTab = $('ol.carousel-indicators>li>a').eq(0)[0];
	 				console.log('section1');
	 			}
	 			else if (wPosition >= section2_OffsetTop && wPosition < section3_OffsetTop) {
	 				$currentTab = $('ol.carousel-indicators>li>a').eq(1)[0];
	 				console.log('section2');
	 			}else if (wPosition >= section3_OffsetTop&& wPosition < section4_OffsetTop) {
	 				$currentTab = $('ol.carousel-indicators>li>a').eq(2)[0];
	 				console.log('section3');
	 			}else if (wPosition >= section4_OffsetTop) {
	 				$currentTab = $('ol.carousel-indicators>li>a').eq(3)[0];
	 				console.log('sectio4');
	 			}
	 			else{
	 				console.log('Nothing');
	 				console.log(wPosition);
	 				console.log(section1_OffsetTop);
	 				console.log(section2_OffsetTop);
	 				console.log(section3_OffsetTop);
	 				console.log(section4_OffsetTop);
	 			}
	 			var	activeTabCaro = 'ol.carousel-indicators>li a[href$='+$currentTab.hash.substring(1)+']';
	 			var isActiveTabCaro = $(activeTabCaro).parent().hasClass('active');
	 			console.log(isActiveTabCaro);
	 			if(isActiveTabCaro) {
	 			}
	 			else{
	 				changeTab($currentTab.hash);
	 			}
	 		});
	 		$('ol.carousel-indicators>li>a').click(scrolling);
	 	});
	 </script>
	 <style type="text/css" media="screen">
	 	.container{
	 		perspective: 1000px;
	 		margin-top:50px;
	 	}
	 	.container-fluid >.carousel-indicators{
	 		display: flex;
	 	}
	 </style>
