	    <ol class="carousel-indicators">
	    <li data-target="#myCarousel" class="active"></li>
	    <li data-target="#myCarousel"></li>
	    <li data-target="#myCarousel"></li>
	    <li data-target="#myCarousel"></li>
	    </ol>
	<div class="section" id="section1">
		Share My Book Animation
		</div>
		<div class="section" id="section2">
<%= link_to 'create book' , new_book_path , class:"btn btn-info btn-xs"%>
		<div class="row">
			<%if @books.present?%>
			<%@books.each do |book| %>
			<div class="col-md-3 col-xs-12">
				<div class="card", style="max-width:446px;">
					<%= image_tag(book.cover.image.url,class:"card-img-top img-fluid img-responsive") if book.cover.present? %>
					<div class="card-block">
						<h4 class="card-title"><%= book.name %></h4>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<h5>Author</h5><%= book.author%> <br>
						<h5>Uploaded at </h5>

						<%= book.published_at%><br>
					</div>
				</div>
				<%= rating_for book, "ratings", disable_after_rate: true, enable_half: true, half_show: true %>
				<%= link_to 'show', book_path(book)%>
			</div>
			<%end%>
			<%end%>	 
		</div>   
		<div class="section" id="section3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>   
		<div class="section" id="section4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>


<script>
	$(document).ready(function(){
		$('.navbar-inverse .navbar-nav>li>a').click(function() {
         // debugger;
         if (screen.width < 769){
         	$('.navbar-toggle').click();
         }  
         if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
         	&& location.hostname == this.hostname) {
         	var $target = $(this.hash);
            window.location.hash=this.hash
         //debugger;
         $target = $target.length && $target
         || $('[name=' + this.hash.slice(1) +']');
         if ($target.length) {
         	var targetOffset = $target.offset().top-50;
         	var div = this;
         	setTimeout(function(){
              // debugger;
              $(div.hash).siblings().removeClass('animate');
              $(div.hash).addClass('animate');
          }, 100);

         	$('html,body')
         	.animate({scrollTop: targetOffset}, 500);

         	return false;
         }
     }
 });
	});
</script>
<style type="text/css" media="screen">
	.container{
		perspective: 1000px;
		margin-top:50px;
	}